<div class="row">
    <div class="col-md-12">
        <h1 class="display-8" style="text-align: center">Welcome To The Fullstack Web Developer Course</h1>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account"> You are logged in as user "{{account.login}}". </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>If you want to </span>
                <a class="alert-link" (click)="login()">sign in</a><span>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="register">Register a new account</a>
            </div>
        </div>
        <div *ngIf="isAuthenticated()">
            <div>Course_Name</div>
            <div>Course_Location</div>
            <div>Course_Content</div>
            <div>Teacher_ID</div>
        </div>
        <div *ngIf="isAuthenticated()">
            <hr>
            <span>Course Query/Registration</span>
            <hr>
            <div><span><button (click)="getAllCourses()">Show all courses</button> <button (click)="clearAllCourses()">Clear</button></span></div>
            <div *ngFor="let course of courses" style="padding-bottom: 2px">
                <div style="display: flex; width: 100%; height: 40px; justify-content: space-between; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; border-right: 1px solid">
                    <div style="padding-left: 5px">{{course.courseName}}</div>
                    <div>{{course.courseLocation}}</div>
                    <div>{{course.courseContent}}</div>
                    <div>{{course.teacherId}}</div>
                 </div>
            </div>
        </div>

        <div *ngIf="isAuthenticated()">
            <hr>
            <span>Course Query</span>
            <hr>
            <div><span><button (click)="getAllCoursesWithTN()">Show all courses</button> <button (click)="clearAllCoursesWithTN()">Clear</button></span></div>
            <div *ngFor="let course of coursesWithTN" style="padding-bottom: 2px">
                <div style="display: flex; width: 100%; height: 40px; justify-content: space-between; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; border-right: 1px solid">
                    <div style="padding-left: 5px">{{course.courseName}}</div>
                    <div>{{course.courseLocation}}</div>
                    <div>{{course.courseContent}}</div>
                    <div>{{course.teacherName}}</div>
                </div>
            </div>
        </div>

        <div *ngIf="isAuthenticated()">
            <hr>
            <span>Course Registration</span>
            <hr>
            <div><input [(ngModel)]= "classNameNeedToReg" ></div>
            <div><span><button (click)="registerCourse(classNameNeedToReg)">Register</button> </span></div>
            <div>Status {{regCode}}</div>
        </div>

        <div *ngIf="isAuthenticated()">
            <hr>
            <span>Add/Delete Course</span>
            <hr>
            <span>Add Course</span>
            <hr>
            <div>Course Name: <input [(ngModel)]= "newCourseName" ><br>
                Course Location: <input [(ngModel)]= "newCourseLocation"><br>
                Course Content: <input [(ngModel)]= "newCourseContent" ><br>
                Teacher ID: <input [(ngModel)]= "newTeacher" ><br>
            </div>
            <div><span><button (click)="addCourse()">Add Course</button> </span></div>
            <div>Status {{addCode}}</div>

            <hr>
            <span>Delete Course</span>
            <hr>
            <div>Course Name: <input [(ngModel)]= "classNameNeedToDel" ></div>
            <div><span><button (click)="deleteCourse()">Delete</button> </span></div>
            <div>Status {{delCode}}</div>
            <hr>
            <span>Add/Delete Course</span>

            <hr>
            <span>Update Course</span>
            <hr>
            <div>Course Name: <input [(ngModel)]= "updateCourseName" ><br>
                Course Location: <input [(ngModel)]= "updateCourseLocation"><br>
                Course Content: <input [(ngModel)]= "updateCourseContent" ><br>
                Teacher ID: <input [(ngModel)]= "updateTeacher" ><br>
            </div>
            <div><span><button (click)="updateCourse()">Update Course</button> </span></div>
            <div>Status {{updateCode}}</div>
        </div>

    </div>
</div>
